@import '../../styles/index.scss';

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.75rem 2rem;
	background: $offWhite;
	z-index: 1;

	.center {
		.header {
			display: flex;
			justify-content: space-between;

			.button {
				background: transparent;
				border: none;
				cursor: pointer;

				.icon {
					font-size: 1.5rem;
					color: $primaryColor;
				}
			}
		}

		.links {
			height: 0;
			overflow: hidden;
			transition: $mainTransition;
			list-style-type: none;

			& a {
				display: block;
				text-decoration: none;
				padding: 1rem 0;
				color: $mainBlack;
				transition: $mainTransition;
				text-align: center;
				font-size: 1rem;
				font-weight: 600;
				letter-spacing: $mainSpacing;

				&:hover {
					color: $primaryColor;
				}
			}
		}

		.showNav {
			height: 100px;
		}
	}
}

@include mq-sm {
	.container {
		.center {
			max-width: 1170px;
			margin: 0 auto;
			display: flex;

			.header {
				.button {
					display: none;
				}
			}

			.links {
				height: auto;
				display: flex;
				margin-left: 4rem;

				& a {
					margin: 0 1rem;
					padding: 0.5rem 0;
				}
			}
		}
	}
}
